body {
	font-family: -apple-system, BlinkMacSystemFont, SanFancisco, "Helvetica Neue";
	font-size: 14px;
	color: #707070;

	margin: 0px;
	width: 100%;
}

#content {
	padding: 10px;
}

.verb-form {
	font-weight: normal;
	font-size: 128%;

	padding: 15px;
}

.verb-definition, .verb-example, .verb-composition, .verb-notes  {
	font-weight: normal;
	font-size: 107%;

	padding: 15px;
}

.non-hyphen {
	white-space: pre;
}

a {
	color: #808;
	text-decoration: none;
}

p {
	padding: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) { }
